{% extends "base.html" %}

{% block title %}{{ circle.topic }}{% endblock %}

{% block content %}

<p class="note">
Editing {{post.author.name}}'s post in {{circle.topic}}.
(<a href="{{ url_for('circle', circle_id=circle.id) }}">Return to {{circle.topic}} circle</a>)
</p>

<div class="post-container">
    <div id="preview-meta" class="post-meta">
        {{ current_user.name }} </br>
        <span id="date1"></span> </br>
        <span id="date2"></span>
        <script type="text/javascript">
            var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul',
                'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            var time = function() {
                var d = new Date()
                $("#date1").text(
                    d.getDate() + " " +
                    months[d.getMonth()] + " " +
                    d.getFullYear()
                )
                $("#date2").text(
                    ("0"+(d.getHours()%12)).slice(-2) + ":" +
                    ("0"+d.getMinutes()).slice(-2) + " " +
                    (d.getHours() > 11 ? "PM" : "AM")
                )
                setTimeout(time, 30000)
            }; time()
        </script>
    </div>
    <div id="preview" class="post"></div>
</div>
<div class="post-form">
    <form action="{{ url_for('edit', circle_id=circle.id, post_id=post.id) }}" method="post">
        <textarea id="input-content" name="input-content" oninput="this.editor.update()">{{post.content}}</textarea>
        <button type="submit">Post</button>
    </form>
</div>

<script type="text/javascript">
var updateTimeout
function Editor(input, preview) {
    this.update = function() {
        window.clearTimeout(updateTimeout)
        updateTimeout = window.setTimeout(function() {
            preview.innerHTML = input.value
            MathJax.Hub.Queue(["Typeset", MathJax.Hub, "preview"])
            MathJax.Hub.Register.MessageHook("End Process", function(msg) {
                $(preview).contents().each(function(i, e) {
                    if(e.nodeType === 3) $(e).replaceWith(marked(e.data))
                })
            })
        }, 500)
    }
    input.editor = this
    this.update()
}
var getId = function(id) { return document.getElementById(id) }
new Editor(getId("input-content"), getId("preview"))
</script>

{% endblock %}
